* {
    padding: 0;
    margin: 0;
    
}

:root {
    --color-principal-red: #E3646E;
    --color-principal-purple: #BB72E9;
    --color-principal-red: #3996DB;
    --color-principal-red: #82BC4F;
    --color-principal-red: #EABD5F;

    --color-base-gray100: #0D;
    --color-base-gray200: #;
    --color-base-gray300: #;
    --color-base-gray400: #;
    --color-base-gray500: #;
    --color-base-gray600: #;

}