.primary {
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    text-align: center;
    padding: 94px;
}

.principal {
    margin-bottom: 56px;
}

h2 {
   margin-bottom: 20px;
}

.secondary {
    margin-bottom: 80px;
}