#destaque {
    color: red;
    background-color: #16181D;
    font: var(--subtitle);
}


.container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 94px;
    gap: 16px;
    width: 100%;
    color: var(--color-base-gray500);
    font: var(--text-md);
    align-items: center;
}


.quadros {
    background-color: var(--color-base-gray200);
    padding-top: 72px;
    padding-bottom: 144px;
    padding: 120px;
    
}

section > p {
    text-align: center;
    font: var(--subtitle);
    color: red;
}

section > h2 {
    text-align: center;
    font: var(--title-md);
    color: var(--color-base-gray600);
    padding-bottom: 56px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    place-items: center;
}

.grid-item {
    background-color: var(--color-base-gray300);
    border-radius: 8px;
    width: 330px;
    height: 280px;
    padding: 12px;
}

.grid-item > img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
}

.grid-item > h3{
    font: var(--title-sm);
    color: var(--color-base-gray600);
    padding-top: 20px;
}

.grid-item > p {
    font: var(--text-sm);
    color: var(--color-base-gray600);
}

.service {
    padding-top: 88px;
    background-color: var(--color-base-gray100);
    
}

.contact {
    color: var(--color-base-gray500);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 120px;
}

.cont {
    border: 2px solid gray;
    padding: 20px;
    border-radius: 12px;
}

.cont > h3 {
    font: var(--title-sm);
    color: var(--color-base-gray600);
    padding-top: 20px;
}

.cont > p {
    font: var(--text-sm);
    color: var(--color-base-gray500);
}

.title-lg {
    font: var(--title-lg);
    color: var(--color-base-gray600);
}

.subtitle{
    font: var(--subtitle);
    color: var(--color-base-gray500);
}


.text-sm {
    font: var(--text-sm);
    color: var(--color-base-gray400)
}



