.content {
    gap: 8px;
    background-color: var(--color-base-gray300);
    color: var(--color-base-gray500);
    font: var(--text-md);
    padding: 8px 16px;
    border-radius: 12px;
}


ul {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 94px;
    gap: 16px;
    list-style: none;
}


.title-lg {
    font: var(--title-lg);
    color: var(--color-base-gray600);
}

.subtitle{
    font: var(--subtitle);
    color: var(--color-base-gray500);
}


.text-sm {
    font: var(--text-sm);
    color: var(--color-base-gray400)
}