#destaque {
    color: red;
    background-color: #16181D;
    font: var(--subtitle);
}


.container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 94px;
    gap: 16px;
    width: 100%;
    color: var(--color-base-gray500);
    font: var(--text-md);
    align-items: center;
}


section {
    background-color: var(--color-base-gray100);
    padding-top: 72px;
    padding-bottom: 144px;
    padding: 120px;
    height: 100vh;
    place-items: center;

}

section > p {
    text-align: center;
    font: var(--subtitle);
    color: red;
}

section > h2 {
    text-align: center;
    font: var(--title-md);
    color: var(--color-base-gray600);
    padding-bottom: 56px;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    align-self: center;
}


.size {
    width: 306px;
}


.title-lg {
    font: var(--title-lg);
    color: var(--color-base-gray600);
}

.subtitle{
    font: var(--subtitle);
    color: var(--color-base-gray500);
}


.text-sm {
    font: var(--text-sm);
    color: var(--color-base-gray400)
}

